node_modules
yarn.lock
yarn-error.log
.expo
coverage
.vscode/
keys
web-build
dist
deploy_backend-EXLUDEDFROMGIT.sh
code-analysis
test-routes-remote.sh
tamed-stripe-backend-example
frontend/web-examples
.DS_Store
deleteme*